[Unit]
Description=Go Application

[Service]
Environment=ENV=production
Environment=PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart=/home/ec2-user/gotutor/backend/backend

Restart=always

User=ec2-user

# Create a writable directory at /run/gotutor/
RuntimeDirectory=gotutor

# Change the working directory to /run/gotutor/
WorkingDirectory=/run/gotutor

[Install]

WantedBy=multi-user.target
