[Unit]
Description=Go Application

[Service]
Environment=ENV=production
Environment=PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart=/home/ubuntu/gotutor/backend/backend

Restart=always

User=ubuntu

# Create a writable directory at /run/gotutor/
RuntimeDirectory=gotutor

# Create persistent data directory at /var/lib/gotutor/data/
StateDirectory=gotutor/data

# Change the working directory to /run/gotutor/
WorkingDirectory=/run/gotutor

[Install]

WantedBy=multi-user.target
