[Unit]
Description=Go Application

[Service]
Environment=ENV=production

ExecStart=/home/ec2-user/gotutor/backend/backend

Restart=always

User=ec2-user

# Create a writable directory at /run/gotutor/
RuntimeDirectory=gotutor

# Change the working directory to /run/gotutor/
WorkingDirectory=/run/gotutor

[Install]

WantedBy=multi-user.target
