:root {
    --main-bg-color: #007d9c;
    --slider-track-color: hsl(195, 58%, 63%);
}


input[type=range] {
    appearance: none;
    background-color: transparent;
    transform: scale(2.7);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 3px;
    background: var(--slider-track-color);
    border: none;
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-image: url('static/skateboarding.svg');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -10px;
    cursor: grab;
}

input[type=range]::-moz-range-track {
    width: 150px;
    height: 3px;
    background: var(--slider-track-color);
    border: none;
    border-radius: 2px;
    -moz-appearance: none;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-image: url('static/skateboarding.svg');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -10px;
    cursor: grab;
    -moz-appearance: none;
}

/* elmsh styles */

pre.elmsh {
    padding: 5px;
    margin: 0;
    text-align: left;
}
.elmsh-line:hover {
    background-color: rgb(241, 245, 249);
}
.elmsh-line:before {
    content: attr(data-elmsh-lc);
    display: inline-block;
    text-align: right;
    width: 20px;
    padding: 0 20px 0 0;
    opacity: 0.3;
}

.elmsh-add:before {
    content: "▶";
    opacity: 0.5;
}

.elmsh-hl:before {
    content: "🔥";
    opacity: 0.5;
}

/* text area style */

.code-container {
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 55vh;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


.code-style {
    font-size: 0.875rem;
    line-height: 1.25rem;
    tab-size: 5;
    font-family: JetBrains Mono,monospace;
    letter-spacing: normal;
    word-spacing: normal;
    padding: 0;
    margin: 0;
    white-space: pre;
}



.code-view-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.code-textarea {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    ;
    caret-color: black;
    resize: none;
    z-index: 2;
    position: relative;
    padding: 5px;
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
}

.code-textarea-lc {
    padding-left: 45px;
}

.code-textarea:focus {
    outline: none;
}


/* github theme : https://pablohirafuji.github.io/elm-syntax-highlight/themes.html */

.elmsh {
    color: #24292e;
}

.elmsh-hl {
    background: #fffbdd;
}

.elmsh-add {
    background: #eaffea;
}

.elmsh-del {
    background: #ffecec;
}

.elmsh-comm {
    color: #969896;
}

.elmsh1 {
    color: #005cc5;
}

.elmsh2 {
    color: #df5000;
}

.elmsh3 {
    color: #d73a49;
}

.elmsh4 {
    color: #0086b3;
}

.elmsh5 {
    color: #63a35c;
}

.elmsh6 {
    color: #005cc5;
}

.elmsh7 {
    color: #795da3;
}
