/* elmsh styles */

pre.elmsh {
    padding: 5px;
    margin: 0;
    text-align: left;
}


.elmsh-line:before {
    content: attr(data-elmsh-lc);
    display: inline-block;
    text-align: right;
    width: 20px;
    padding: 0 20px 0 0;
    opacity: 0.3;
}

.elmsh-add {
    background-color: #b3e0b3;
}

.elmsh-hl {
    background-color: #dce5ef;
}


/* text area style */

.code-container {
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 60vh;
}


.code-style {
    font-size: 0.8rem;
    line-height: 1.2;
    tab-size: 5;
    font-family: monospace;
    letter-spacing: normal;
    word-spacing: normal;
    padding: 0;
    margin: 0;
    white-space: pre;
}



.code-view-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.code-textarea {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    ;
    caret-color: black;
    resize: none;
    z-index: 2;
    position: relative;
    padding: 5px;
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
}

.code-textarea-lc {
    padding-left: 45px;
}

.code-textarea:focus {
    outline: none;
}
